.option-header {
  background-color: #2d3436;
  padding: 4px 10px;
  display: flex;

  button {
    line-height: 24px;
    font-weight: 700;
  }
}

footer {
  font-size: 14px;
  line-height: 21px;
  color: white;
  background-color: #2d3436;
}