.option-header {
  padding: 6px 10px 6px;
  display: block;
  border-top: 1px solid rgb(161, 159, 157);

  button {
    line-height: 24px;
    font-weight: 700;
  }
}

footer {
  font-size: 14px;
  line-height: 21px;
  color: white;
  background-color: #2d3436;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.agContainer {
  flex: 1;
}
